* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

::-webkit-scrollbar{
    width: 10px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,crimson,pink red);
    border-radius: 25px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__nav {
    background: #fff;
    padding: 25px 0;
}

.header__nav-link,
.header__nav-drop-link {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 12px;
    color: #000;
    display: flex;
    gap: 4px;
    align-items: center;
}

.header__nav-form {
    display: flex;
    gap: 4px;
}

.header__nav-input {
    border: 1px solid crimson;
    width: 180px;
    height: 28px;
    outline: none;
    padding: 0 12px;
}

.header__nav-input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #4b4848;
}

.header__nav-btn {
    width: 28px;
    height: 28px;
    background: crimson;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    background: url(../images/content.jpg) no-repeat center /cover;
    background-attachment: fixed;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header__content-title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 16px 60px;

}

.header__content-text {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}

.header__content-link {
    width: 131px;
    height: 59px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 12px;
    color: #000;
    transition: 300ms;
}

.header__content-link:hover {
    background: crimson;
    color: white;
}

.header__nav-drop {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 160px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

.header__nav-li:hover  .header__nav-drop {
    z-index: 1;
}

.header__nav-li {
    position: relative;
}

.header__nav-drop-link {
    padding: 12px 30px;   
}

.header__nav-drop-link:hover {
    background: crimson;
    color: white;
}

.header__nav-drop-link.dash {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}


.header__nav-link-img {
    transform: rotate(180deg);
}

.header__nav-li:hover   .header__nav-link-img {
    transform: rotate(0deg);
}

.commerce {
    padding-top: 48px;
    padding-bottom: 72px;
}

.commerce__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.commerce__box-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.commerce__box-item-title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background: rgba(75, 72, 72, 0.7);
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    transition:  300ms;
}

.commerce__box-item:hover    .commerce__box-item-title {
    bottom: 0;
}

.commerce__box-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.commerce__info,
.products__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.commerce__info-title,
.products__info-title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #000;
}

.commerce__info-text,
.products__info-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #666;
    max-width: 496px;
    width: 100%;
}

.collection {
    background: url(../images/collection.jpg) no-repeat center /cover;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 112px;
}

.collection__box-text {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.collection__box-title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    margin-top: 3px;
    margin-bottom: 22px;
}

.collection__box-link {
    width: 190px;
    height: 53px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection__box-link:hover {
    background: crimson;
    color: white;
}

.products {
    padding: 50px 0;
}

.products__item {
    max-width: 255px;
    width: 100%;
}

.products__item-top-img {
    width: 100%;
    display: block;
}

.products__item-top {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.products__item-top:hover    .products__item-top-box {
    bottom: 0;
}

.products__item-top-box {
    transition: 300ms;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    position: absolute;
    left: 0;
    bottom: -16%;
    width: 100%;
}

.products__item-top-add {
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

.products__item-top-right {
    display: flex;
    gap: 23px;
}

.products__item-bottom {
    margin-top: 42px;
}

.products__item-bottom-title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 22px;
    color: #000;
}

.products__item-bottom-price {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin-top: 6px;
    font-variant-numeric: lining-nums proportional-nums;
}

.products__box {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.products__item-bottom-discount {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 18px;
    color: #666;
    text-decoration: line-through;
    margin-right: 15px;
}

.out::before {
    content: 'OUT OF STOCK';
}

.sale::before {
    content: 'SALE';
}

.products__item {
    position: relative;
}

.out::before,
.sale::before {
    background: #4b484b;
    padding: 10px 18px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.footer__top {
    background: #000;
    padding: 36px 0;
}

.footer__top-item {
    max-width: 255px;
    width: 100%;
}

.footer__top-box {
    display: flex;
    justify-content: space-between;
}

.footer__top-item-title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

.footer__top-item-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__top-item-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__top-item-social {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__top-item-form {
    display: flex;
}

.footer__top-item-input {
    max-width: 200px;
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    padding: 0 10px;
}

.footer__top-item-btn {
    width: 55px;
    height: 44px;
    background: crimson;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__top-item-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 20px 0;
}

.footer__top-item-cards {
    display: flex;
    gap: 25px;
}

.footer__bottom {
    background: #121212;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.footer__bottom-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #666;
}

.footer__bottom-title-span {
    text-shadow: 0 0 4px  #e52d27;
}